@font-face {
  font-family: friendsFont;
  src: url(gabrwffr.TTF);
}

/* font-family: 'Roboto', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

.title {
  font-family: friendsFont;
  text-align: center;
  font-size: 2.8rem;
  color: white;
  margin-bottom: 1rem;
}
.titleDot1 {
  font-family: friendsFont;
  font-size: 8rem;
  color: rgb(255, 24, 30);
  margin-bottom: 1rem;
  display: inline-block;
}
.titleDot2 {
  font-family: friendsFont;
  font-size: 8rem;
  color: rgb(0, 180, 234);
  margin-bottom: 1rem;
  display: inline-block;
}
.titleDot3 {
  font-family: friendsFont;
  font-size: 8rem;
  color: rgb(255, 188, 0);
  margin-bottom: 1rem;
  display: inline-block;
}

h1 {
  font-family: friendsFont;
  margin-left: 210px;
  color: white;
}

h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  background-color: #6d6d6d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
}

.posterFriends {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 600px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.521);
}

.quiz-container {
  background-color: rgb(223, 220, 213);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.521);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 2rem;
}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label {
  cursor: pointer;
}
button {
  background-color: rgb(255, 188, 0);
  color: #fff;
  border: none;
  display: block;
  width: 600px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 1.3rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.521);
}
button:hover {
  background-color: rgb(209, 154, 1);
}

@media all and (max-width: 500px) {
  .title {
    font-size: 1rem;
  }
}

@media all and (max-width: 768px) {
  .title {
    font-size: 1.9rem;
  }
  .titleDot1 {
    font-size: 5rem;
  }
  .titleDot2 {
    font-size: 5rem;
  }
  .titleDot3 {
    font-size: 5rem;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0px;
  }
  .quiz-container {
    width: 480px;
  }
  button {
    width: 480px;
  }
}
